<h1>ログイン</h1>

<%= simple_form_for(:session, url: login_path) do |f| %>
	<div class="form-group">
		<%= f.input :email, label:'メールアドレス' %>
		<%= f.input :password, label: 'パスワード' %>
		<%= f.submit t('.login'), class:'btn btn-primary btn-block' %>
	</div>
<% end %>

<%= link_to 'sign in', new_user_path %>

