<h1>ログイン</h1>

<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
	<ul>
		<li><%= f.label :email %></li>
		<li><%= f.email_field :email, class:"form-control"  %></li>
		<li><%= f.label :password %></li>
		<li><%= f.password_field :password, class:"form-control" %></li>
		<li><%= f.submit "login", class:"btn btn-primary bin-block" %></li>
	</ul>
<% end %>