<%= simple_form_for(@task, local: true, html: { class: 'form-section'}) do |f| %>
	<% if @task.errors.any? %>
		<div class="error_expranation">
			<h3><%= @task.errors.count %>件のエラーがあります。</h3>
		</div>
		<% @task.errors.full_messages.each do |msg| %>
			<p id="error_message"><%= msg %></p>
		<% end %>
	<% end %>
	<div class="form-group">
		<%= f.input :name %>
		<%= f.label :description %>
		<%= f.input_field :description, class:"form-control" %>
		<%= f.label :state %><%= f.select :state, Task.states.keys .map {|k| [I18n.t("enums.task.state.#{k}"), k]}%>
		<%= f.label :priority %><%= f.select :priority, Task.priorities.keys .map {|k| [I18n.t("enums.task.priority.#{k}"), k]}%>
		<%= f.label :expired_at %>
		<%= f.date_field :expired_at, class:"input-group date" %>
		<%= f.submit '登録する', class:"btn btn-primary btn-block"%>
	</div>
<% end %>