<%= form_with(model: @task, local: true) do |f| %>
	<% if @task.errors.any? %>
		<div class="error_expranation">
			<h3><%= @task.errors.count %>件のエラーがあります。</h3>
		</div>
		<%  @task.errors.full_messages.each do |msg| %>
			<p id="error_message"><%= msg %></p>
		<% end %>
	<% end %>

	<p><%= f.label :name %></p>
	<p><%= f.text_field :name %></p>
	<p><%= f.label :description %></p>
	<p><%= f.text_area :description %></p>
	<p><%= f.label :state %></p>
	<p><%= f.select :state, Task.states.keys .map {|k| [I18n.t("enums.task.state.#{k}"), k]}%></p>
	<p><%= f.label :priority %></p>
	<p><%= f.select :priority, Task.priorities.keys .map {|k| [I18n.t("enums.task.priority.#{k}"), k]}%></p>
	<p><%= f.label :expired_at %></p>
	<p><%= f.datetime_field :expired_at %></p>
	<p><%= f.submit %></p>
<% end %>