<%= form_with(model: @task, local: true) do |f| %>
	<% if @task.errors.any? %>
		<div class="error_expranation">
			<h3><%= @task.errors.count %>件のエラーがあります。</h3>
		</div>
		<%  @task.errors.full_messages.each do |msg| %>
			<p id="error_message"><%= msg %></p>
		<% end %>
	<% end %>
<ul>
	<li><%= f.label :name %></li>
	<li><%= f.text_field :name, class:"form-control" %></li>
	<li><%= f.label :description %></li>
	<li><%= f.text_area :description, class:"form-control" %></li>
	<li>
		<%= f.label :state %><%= f.select :state, Task.states.keys .map {|k| [I18n.t("enums.task.state.#{k}"), k]}%>
		<%= f.label :priority %><%= f.select :priority, Task.priorities.keys .map {|k| [I18n.t("enums.task.priority.#{k}"), k]}%>
	</li>
	<li>
		<%= f.label :expired_at %>
		<%= f.date_field :expired_at, class:"input-group date" %>
	</li>
	<li><%= f.submit '作成する', class:"btn btn-primary btn-block"%></li>
</ul>
<% end %>