<%= current_user.name %>
<%= link_to t('.logout'), logout_path(current_user.id), method: :delete %>
<%= link_to t('.mypage'), user_path(current_user.id) %>


<br>
<h1>タスク一覧</h1>
<%= link_to '新規投稿', new_task_path %>
<%= search_form_for @q, url: root_path, mathod: :get do |f| %>
	<ul class="padding-none">
		<li><%= f.label :name_cont, 'タスク名検索' %></li>
		<li><%= f.search_field :name_cont, placeholder: '検索するテキストを入力...' ,class:"form-control" %></li>
		<li>
			<%= f.label :search_option, '検索オプション：' %>
			<%= f.radio_button :state_eq, 0 %><%= t'.waiting' %>
			<%= f.radio_button :state_eq, 1 %><%= t'.working' %>
			<%= f.radio_button :state_eq, 2 %><%= t'.done' %>
			<%= f.submit '検索', class:"btn btn-primary float-left" %>
		</li>
	</ul>
<% end %>
<span class="float-left">
	<%= button_to 'クリア', {controller: 'tasks', action:'index'},{method: :get, class: "btn btn-default"} %>
</span>
<strong>並び替えメニュー：</strong>
<%= link_to '終了期限で並び替え', root_path(sort_expired:"true") %>&#047;
<%= link_to '優先順位で並び替え', root_path(sort_priority:"true") %>
<table class="table">
	<thead class="text-center">
		<tr>
			<th>優先順位</th>
			<th>タスク名</th>
			<th>詳細</th>
			<th>進捗</th>
			<th>登録日時</th>
			<th>期限</th>
		</tr>
	</thead>
	<% @tasks.each do |f| %>
		<tbody>
			<tr>
				<td><%= f.priority_i18n %></td>
				<td><%= f.name %></td>
				<td><%= f.description %></td>
				<td><%= f.state_i18n %></td>
				<td><%= f.created_at %></td>
				<td><%= f.expired_at %></td>
				<td><%= link_to t('.edit'), edit_task_path(f) %></td>
				<td><%= link_to t('.show'), f %></td>
				<td><%= link_to t('.destroy'), f, method: :delete, data: { confrim: '削除しますか？'} %></td>
			</tr>
		</tbody>
	<% end %>
</table>
<%= paginate @tasks %>
