<h1>新規登録</h1>
<%= simple_form_for(@user, html: { class: 'form-section'}) do |f|%>
	<%= f.error_notification %>
	<div class="form-group">
		<%= f.input :name %>
		<%= f.input :email %>
		<%= f.input :password %>
		<%= f.input :password_confirmation %>
		<%= f.button :submit, class:"btn btn-primary btn-block" %>
	</div>
<% end %>
