<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse float-right">
    <ul class="navbar-nav">
			<li class="font-lg"><%= "ログイン中：#{current_user.name}さん" %>&#047;</li>
			<li class="font-lg"><%= link_to '新規投稿', new_task_path %>&#047;</li>
			<li class="nav-item dropdown">
				<button class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fas fa-bars font-lg"></i>
				</button>
				<div class="dropdown-menu" aria-labelledby="navDropdown">
					<p class="dropdown-item"><%= link_to 'マイページ', user_path(current_user.id) %></p>
					<p class="dropdown-item"><%= link_to 'ログアウト', logout_path(current_user.id), method: :delete %></p>
				</div>
			</li>
      <li class="nav-item dropdown">
        <button class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-exchange-alt font-lg"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <p class="dropdown-item"><%= link_to '一般', tasks_path(@user) %></p>
          <p class="dropdown-item"><%= link_to '管理', admin_users_path(@user) %></p>
        </div>
      </li>
    </ul>
  </div>
</nav>