<!DOCTYPE html>
<html>
  <head>
    <title>TodoList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/message' %>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
      <main class="main_navigation">
        <section>
          <div class="container">
            <%= yield %>
          </div>
        </section>
      </main>
    <footer>
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
